<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.myapp">

    <application
            tools:replace="android:label"
            android:name="android.support.multidex.MultiDexApplication"
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="${appName}"
            android:theme="@style/AppTheme">

        <meta-data
                android:name="eventKey"
                android:value="${eventKey}"></meta-data>

        <activity
                android:name=".MainActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>

        <activity android:name="com.example.android.lib.HelloActivity"></activity>
    </application>

</manifest>
